$clr-neutral-900: hsl(212, 21%, 14%);
$clr-neutral-400: hsl(228, 12%, 48%);
$clr-neutral-100: hsl(0, 0%, 100%);

$clr-primary-400: hsl(158, 36%, 37%);
$clr-primary-500: hsl(158, 36%, 20%);
$clr-secondary-400: hsl(30, 38%, 92%);

$ff-serif: "Fraunces", serif;
$ff-sans: "Montserrat", sans-serif;

$fw-bold: 700;
$fw-semibold: 500;
$fw-regular: 400;
